{% extends "layout/lBase.html.twig" %}

{% block body %}
    <form enctype="multipart/form-data" action="/upload" method="post">
        <input type="hidden" name="path" value="{{ field.path }}">
        <div>
            <label>File name</label>
            <input type="text" name="inputFileName" title="FileName" value="{{ fields.fileName }}">
        </div>

        <div>
            <label>Description</label>
            <input type="text" name="inputTitle" title="Title" value="{{ fields.title }}">
        </div>

        <div>
            <label>Copyright</label>
            <input type="text" name="inputCopyright" title="Copyright" value="{{ fields.copyright }}">
        </div>
        <input type="submit" value="Envoyer">

    </form>
{% endblock %}